<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
                <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts.min.js"></script>

</head>
<body >
    <div id="606e5de784e94139a364b07af8ad7100" class="chart-container" style="width:400px; height:400px; "></div>
    <script>
        var chart_606e5de784e94139a364b07af8ad7100 = echarts.init(
            document.getElementById('606e5de784e94139a364b07af8ad7100'), 'white', {renderer: 'canvas'});
        var option_606e5de784e94139a364b07af8ad7100 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "color": [
        "#5470c6",
        "#91cc75",
        "#fac858",
        "#ee6666",
        "#73c0de",
        "#3ba272",
        "#fc8452",
        "#9a60b4",
        "#ea7ccc"
    ],
    "series": [
        {
            "type": "heatmap",
            "coordinateSystem": "calendar",
            "data": [
                [
                    "2023-09-01",
                    -8
                ],
                [
                    "2023-09-02",
                    -3
                ],
                [
                    "2023-09-03",
                    -6
                ],
                [
                    "2023-09-04",
                    -13
                ],
                [
                    "2023-09-05",
                    14
                ],
                [
                    "2023-09-06",
                    34
                ],
                [
                    "2023-09-07",
                    23
                ],
                [
                    "2023-09-08",
                    23
                ],
                [
                    "2023-09-09",
                    -3
                ],
                [
                    "2023-09-10",
                    -13
                ],
                [
                    "2023-09-11",
                    -5
                ]
            ],
            "label": {
                "show": false,
                "position": "inside",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                ""
            ],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderWidth": 1,
            "borderRadius": 0,
            "pageButtonItemGap": 5,
            "pageButtonPosition": "end",
            "pageFormatter": "{current}/{total}",
            "pageIconColor": "#2f4554",
            "pageIconInactiveColor": "#aaa",
            "pageIconSize": 15,
            "animationDurationUpdate": 800,
            "selector": false,
            "selectorPosition": "auto",
            "selectorItemGap": 7,
            "selectorButtonGap": 10
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    },
    "calendar": {
        "zlevel": 0,
        "z": 2,
        "width": "auto",
        "orient": "horizontal",
        "range": [
            "2023-09-01",
            "2023-09-11"
        ],
        "cellSize": 20,
        "silent": false
    },
    "title": [
        {
            "show": true,
            "text": "2023-09-01~2023-09-11 \u8bc4\u8bba\u60c5\u7eea\u70ed\u5ea6\u60c5\u51b5",
            "target": "blank",
            "subtarget": "blank",
            "padding": 5,
            "itemGap": 10,
            "textAlign": "auto",
            "textVerticalAlign": "auto",
            "triggerEvent": false
        }
    ],
    "visualMap": {
        "show": true,
        "type": "piecewise",
        "min": -200,
        "max": 200,
        "inRange": {
            "color": [
                "#50a3ba",
                "#eac763",
                "#d94e5d"
            ]
        },
        "calculable": true,
        "inverse": false,
        "splitNumber": 5,
        "hoverLink": true,
        "orient": "vertical",
        "left": "100px",
        "top": "230px",
        "padding": 5,
        "showLabel": true,
        "itemWidth": 20,
        "itemHeight": 14,
        "borderWidth": 0
    }
};
        chart_606e5de784e94139a364b07af8ad7100.setOption(option_606e5de784e94139a364b07af8ad7100);
    </script>
</body>
</html>
