<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
                <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts.min.js"></script>

</head>
<body >
    <div id="f3049eb240924da88737af6bfcd7fdc6" class="chart-container" style="width:800px; height:400px; "></div>
    <script>
        var chart_f3049eb240924da88737af6bfcd7fdc6 = echarts.init(
            document.getElementById('f3049eb240924da88737af6bfcd7fdc6'), 'white', {renderer: 'canvas'});
        var option_f3049eb240924da88737af6bfcd7fdc6 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "color": [
        "#5470c6",
        "#91cc75",
        "#fac858",
        "#ee6666",
        "#73c0de",
        "#3ba272",
        "#fc8452",
        "#9a60b4",
        "#ea7ccc"
    ],
    "series": [
        {
            "type": "line",
            "name": "\u6bcf\u65e5\u8bc4\u8bba\u79ef\u6781\u60c5\u7eea\u8bcd",
            "connectNulls": false,
            "xAxisIndex": 0,
            "symbol": "emptyCircle",
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "09-01",
                    154
                ],
                [
                    "09-02",
                    30
                ],
                [
                    "09-03",
                    46
                ],
                [
                    "09-04",
                    117
                ],
                [
                    "09-05",
                    108
                ],
                [
                    "09-06",
                    160
                ],
                [
                    "09-07",
                    114
                ],
                [
                    "09-08",
                    111
                ],
                [
                    "09-09",
                    13
                ],
                [
                    "09-10",
                    18
                ],
                [
                    "09-11",
                    62
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "margin": 8
            },
            "logBase": 10,
            "seriesLayoutBy": "column",
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "markPoint": {
                "label": {
                    "show": true,
                    "position": "inside",
                    "color": "#fff",
                    "margin": 8
                },
                "data": [
                    {
                        "name": "\u6700\u5927\u503c",
                        "type": "max"
                    },
                    {
                        "name": "\u6700\u5c0f\u503c",
                        "type": "min"
                    }
                ]
            },
            "markLine": {
                "silent": false,
                "precision": 2,
                "label": {
                    "show": true,
                    "margin": 8
                },
                "data": [
                    {
                        "name": "\u5e73\u5747\u503c",
                        "type": "average"
                    }
                ]
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "line",
            "name": "\u6bcf\u65e5\u8bc4\u8bba\u6d88\u6781\u60c5\u7eea\u8bcd",
            "connectNulls": false,
            "xAxisIndex": 0,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "09-01",
                    162
                ],
                [
                    "09-02",
                    33
                ],
                [
                    "09-03",
                    52
                ],
                [
                    "09-04",
                    130
                ],
                [
                    "09-05",
                    94
                ],
                [
                    "09-06",
                    126
                ],
                [
                    "09-07",
                    91
                ],
                [
                    "09-08",
                    88
                ],
                [
                    "09-09",
                    16
                ],
                [
                    "09-10",
                    31
                ],
                [
                    "09-11",
                    67
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "margin": 8
            },
            "logBase": 10,
            "seriesLayoutBy": "column",
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "markPoint": {
                "label": {
                    "show": true,
                    "position": "inside",
                    "color": "#fff",
                    "margin": 8
                },
                "data": [
                    {
                        "name": "\u5468\u6700\u4f4e",
                        "x": 1,
                        "y": -1.5,
                        "value": -2
                    }
                ]
            },
            "markLine": {
                "silent": false,
                "precision": 2,
                "label": {
                    "show": true,
                    "margin": 8
                },
                "data": [
                    {
                        "name": "\u5e73\u5747\u503c",
                        "type": "average"
                    },
                    {
                        "xAxis": "90%",
                        "yAxis": "max",
                        "symbol": "none"
                    },
                    {
                        "name": "\u6700\u9ad8\u70b9",
                        "type": "max",
                        "symbol": "circle"
                    }
                ]
            },
            "zlevel": 0,
            "z": 0
        }
    ],
    "legend": [
        {
            "data": [
                "\u6bcf\u65e5\u8bc4\u8bba\u79ef\u6781\u60c5\u7eea\u8bcd",
                "\u6bcf\u65e5\u8bc4\u8bba\u6d88\u6781\u60c5\u7eea\u8bcd"
            ],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderWidth": 1,
            "borderRadius": 0,
            "pageButtonItemGap": 5,
            "pageButtonPosition": "end",
            "pageFormatter": "{current}/{total}",
            "pageIconColor": "#2f4554",
            "pageIconInactiveColor": "#aaa",
            "pageIconSize": 15,
            "animationDurationUpdate": 800,
            "selector": false,
            "selectorPosition": "auto",
            "selectorItemGap": 7,
            "selectorButtonGap": 10
        }
    ],
    "tooltip": {
        "show": false,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    },
    "xAxis": [
        {
            "type": "category",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": null
        }
    ],
    "yAxis": [
        {
            "type": "value",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisTick": {
                "show": true,
                "alignWithLabel": false,
                "inside": false
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "show": true,
            "text": "8\u6708\u4efd\u8bc4\u8bba\u60c5\u7eea",
            "target": "blank",
            "subtext": "\u8bcd\u6c47\u603b",
            "subtarget": "blank",
            "padding": 5,
            "itemGap": 10,
            "textAlign": "auto",
            "textVerticalAlign": "auto",
            "triggerEvent": false
        }
    ]
};
        chart_f3049eb240924da88737af6bfcd7fdc6.setOption(option_f3049eb240924da88737af6bfcd7fdc6);
    </script>
</body>
</html>
