<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
                <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts.min.js"></script>

</head>
<body >
    <div id="2a4c68af6e7d4a9584f1ad8066cb3952" class="chart-container" style="width:900px; height:500px; "></div>
    <script>
        var chart_2a4c68af6e7d4a9584f1ad8066cb3952 = echarts.init(
            document.getElementById('2a4c68af6e7d4a9584f1ad8066cb3952'), 'white', {renderer: 'canvas'});
        var option_2a4c68af6e7d4a9584f1ad8066cb3952 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "color": [
        "#5470c6",
        "#91cc75",
        "#fac858",
        "#ee6666",
        "#73c0de",
        "#3ba272",
        "#fc8452",
        "#9a60b4",
        "#ea7ccc"
    ],
    "series": [
        {
            "type": "candlestick",
            "name": "kline",
            "colorBy": "series",
            "data": [
                [
                    15.88,
                    15.91,
                    15.79,
                    16.33
                ],
                [
                    15.85,
                    16.17,
                    15.82,
                    16.64
                ],
                [
                    16.37,
                    16.92,
                    16.08,
                    16.96
                ],
                [
                    17.5,
                    16.96,
                    16.95,
                    17.9
                ],
                [
                    16.53,
                    16.73,
                    16.42,
                    16.87
                ],
                [
                    16.56,
                    16.62,
                    16.15,
                    17.05
                ],
                [
                    16.51,
                    16.57,
                    16.51,
                    16.93
                ],
                [
                    16.53,
                    16.97,
                    16.53,
                    17.0
                ],
                [
                    16.71,
                    16.12,
                    16.09,
                    16.72
                ],
                [
                    15.7,
                    15.89,
                    15.63,
                    16.09
                ],
                [
                    15.8,
                    16.51,
                    15.8,
                    16.57
                ],
                [
                    16.19,
                    16.26,
                    16.08,
                    16.8
                ],
                [
                    16.14,
                    16.23,
                    15.84,
                    16.35
                ],
                [
                    16.25,
                    16.07,
                    16.05,
                    16.6
                ],
                [
                    15.78,
                    15.36,
                    15.32,
                    15.9
                ],
                [
                    15.5,
                    15.66,
                    15.32,
                    15.87
                ],
                [
                    15.5,
                    15.34,
                    15.34,
                    15.58
                ],
                [
                    15.48,
                    15.62,
                    15.43,
                    15.92
                ],
                [
                    15.7,
                    15.79,
                    15.66,
                    15.96
                ],
                [
                    18.4,
                    16.4,
                    16.32,
                    18.4
                ],
                [
                    16.15,
                    16.66,
                    15.96,
                    16.97
                ],
                [
                    16.47,
                    16.22,
                    16.18,
                    16.54
                ],
                [
                    16.2,
                    15.87,
                    15.87,
                    16.33
                ],
                [
                    15.99,
                    15.98,
                    15.89,
                    16.2
                ]
            ]
        }
    ],
    "legend": [
        {
            "data": [
                "kline"
            ],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderWidth": 1,
            "borderRadius": 0,
            "pageButtonItemGap": 5,
            "pageButtonPosition": "end",
            "pageFormatter": "{current}/{total}",
            "pageIconColor": "#2f4554",
            "pageIconInactiveColor": "#aaa",
            "pageIconSize": 15,
            "animationDurationUpdate": 800,
            "selector": false,
            "selectorPosition": "auto",
            "selectorItemGap": 7,
            "selectorButtonGap": 10
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    },
    "xAxis": [
        {
            "show": true,
            "scale": true,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "2023-08-01",
                "2023-08-02",
                "2023-08-03",
                "2023-08-04",
                "2023-08-07",
                "2023-08-08",
                "2023-08-09",
                "2023-08-10",
                "2023-08-11",
                "2023-08-14",
                "2023-08-15",
                "2023-08-16",
                "2023-08-17",
                "2023-08-18",
                "2023-08-21",
                "2023-08-22",
                "2023-08-23",
                "2023-08-24",
                "2023-08-25",
                "2023-08-28",
                "2023-08-29",
                "2023-08-30",
                "2023-08-31",
                "2023-09-01"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": true,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "splitArea": {
                "show": true,
                "areaStyle": {
                    "opacity": 1
                }
            }
        }
    ],
    "title": [
        {
            "show": true,
            "text": "K \u7ebf\u56fe - \u4ee3\u7801\uff1a300059",
            "target": "blank",
            "subtarget": "blank",
            "padding": 5,
            "itemGap": 10,
            "textAlign": "auto",
            "textVerticalAlign": "auto",
            "triggerEvent": false
        }
    ],
    "dataZoom": [
        [
            {
                "show": true,
                "type": "slider",
                "showDetail": true,
                "showDataShadow": true,
                "realtime": true,
                "start": 90,
                "end": 100,
                "orient": "horizontal",
                "zoomLock": false,
                "filterMode": "filter"
            },
            {
                "show": true,
                "type": "inside",
                "showDetail": true,
                "showDataShadow": true,
                "realtime": true,
                "start": 90,
                "end": 100,
                "orient": "horizontal",
                "zoomLock": false,
                "filterMode": "filter"
            }
        ]
    ]
};
        chart_2a4c68af6e7d4a9584f1ad8066cb3952.setOption(option_2a4c68af6e7d4a9584f1ad8066cb3952);
    </script>
</body>
</html>
